<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
<pre style="word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap" >
INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
INFO:werkzeug: * Restarting with stat
INFO:werkzeug:127.0.0.1 - - [26/Jun/2015 21:16:33] "GET / HTTP/1.1" 200 -
INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
INFO:werkzeug: * Restarting with stat
INFO:werkzeug:127.0.0.1 - - [26/Jun/2015 21:16:33] "GET / HTTP/1.1" 200 -INFO:werkzeug:127.0.0.1 - - [29/Jun/2015 10:09:43] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [29/Jun/2015 10:09:44] "GET /log HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [29/Jun/2015 10:09:48] "GET /log HTTP/1.1" 200 -
